# Core Dependencies
selenium
pytest
pytest-html
pytest-xdist

# Utilities
requests
jsonschema
webdriver-manager
undetected-chromedriver

# Logging and Configuration
loguru
python-dotenv
pyperclip

# Test Reporting and CI/CD
allure-python-commons
allure-pytest
pytest-cov
