# Core Dependencies
selenium==4.13.0
pytest==8.3.4
pytest-html==4.1.0
pytest-xdist==3.3.1

# Utilities
requests==2.31.0
jsonschema==4.19.0
webdriver-manager==4.0.2
undetected-chromedriver

# Logging and Configuration
loguru==0.7.0
python-dotenv==1.0.0

# Test Reporting and CI/CD
allure-python-commons==2.13.5
allure-pytest==2.13.5
pytest-cov==6.0.0
